<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    </head>
    <body>

        <br>
        <br>

        <div class="container m5">
            <div th:if="${exito}!=null" class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">Exito</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
            
            <div th:if="${error}!=null" class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <h5 class="card-title">Error</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
            <br>
            <br>
            <br>
        <form th:action="@{/cliente/modificar/__${cliente.id}__}" method="POST">
            <div class="form-group">
                <label >Documenteo del cliente</label> <input th:value="${cliente.documento}" type="number" class="form-control" name="documento" placeholder="Documento">
            </div>
            <div class="form-group">
                <label >Nombre del cliente</label> <input th:value="${cliente.nombre}" type="text" class="form-control" name="nombre" placeholder="Nombre">
            </div>
            <div class="form-group">
                <label >Apellido del cliente</label> <input th:value="${cliente.apellido}" type="text" class="form-control" name="apellido" placeholder="Apellido">
            </div>
            <div class="form-group">
                <label >Domicilio del cliente</label> <input th:value="${cliente.domicilio}" type="text" class="form-control" name="domiciolio" placeholder="Domiciolio">
            </div>
            <div class="form-group">
                <label >Teleono</label> <input th:value="${cliente.telefono}" type="number" class="form-control" name="telefono" placeholder="Telefono">
            </div>
           

          


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    </body>
</html>
